*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --rose-taupe: hsla(11, 21%, 46%, 1);
  --rose-taupe-2: hsla(11, 23%, 41%, 1);
  --desert-sand: hsla(25, 41%, 80%, 1);
  --beaver: hsla(16, 22%, 61%, 1);
  --caput-mortuum: hsla(7, 42%, 26%, 1);
  --fg: var(--caput-mortuum);
  --bg: var(--desert-sand);
  --accent: var(--rose-taupe-2);
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#header-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--bg);
  /* debug */
  /* border: 3px dotted purple; */
}

#content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* debug */
  /* border: 3px dotted yellow; */
}

#content {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  width: 80%;
  /* background-color: var(--fg); */
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  color: var(--fg);
  /* debug */
  /* border: 1px solid var(--fg); */
}

#content h1 {
  margin-bottom: 10px;
  font-size: 1.8rem;
  text-align: center;
}

#content p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
}

#nav {
  display: flex;
  gap: 15px;
}

.nav-btn {
  font-size: 1.2rem;
  background: none;
  border: none;
  color: var(--fg);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-btn:hover {
  color: var(--accent);
}

.logo {
  flex-shrink: 0;
  /* border: 2px red dotted; */
}

.logo svg {
  width: 90px;
  height: auto;
  translate: 0 -10px;
}

.logo .text {
  fill: var(--fg);
  transition: fill 0.3s ease, color 0.3s ease;
}

.logo .crystal {
  stroke: var(--fg);
  transition: stroke 0.3s ease, color 0.3s ease;
}

.logo-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.logo-btn:hover .text {
  fill: var(--accent);
}

.logo-btn:hover .crystal {
  stroke: var(--accent);
}

.header-image {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

#footer-container {
  background-color: var(--fg);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px yellow dotted; */
}

#footer-container p {
  color: var(--fg);
  font-size: 0.9rem;
  text-align: center;
  color: var(--bg);
}

.footer-logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-logo svg {
  display: block;
  max-width: 100%;
  width: 600px;
  height: auto;
  /* border: 2px green dotted; */
}

.footer-logo .text {
  fill: var(--bg);
}

.footer-logo .crystal {
  stroke: var(--bg);
}